@import '../../../variables';

.product-request {
  color: #51585A;
  font-weight: $font-medium;
  padding-bottom: 5px;

  .title {
    font-size: 18px;
  }
  & > .price {
    padding-top: 35px;
    padding-bottom: 13px;
    .dollar {
      font-size: 22px;
    }
    .time {
      margin-left: 5px;
      font-size: 16px;
    }
  }
  .form {
    h2 {
      font-size: 16px;
      padding-top: 20px;
    }
  }
  .fee {
    margin-top: 60px;
    .section {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 18px;
    }
    .rental {

    }
    .pickup {

    }
    .return {

    }
    .total {

    }
    .deposit {
      color: #B7B9BA;
    }
  }
  .submit {
    padding-top: 40px;
    .button {
      padding: 15px;
      text-align: center;
      background-color: #8C64A0;
      color: #FFFFFF;
      font-size: 18px;
    }
  }
  .info {
    text-align: center;
    padding-top: 15px;
    color: #7C8183;
  }
}
