@import '../../../variables';

.product-request {
  color: #51585A;
  font-weight: $font-medium;
  padding-bottom: 5px;

  .title {
    font-size: 18px;
  }
  & > .price {
    padding-top: 35px;
    padding-bottom: 13px;
    .dollar {
      font-size: 22px;
    }
    .time {
      margin-left: 5px;
      font-size: 16px;
    }
  }
  .form {
    h2 {
      font-size: 16px;
      padding-top: 20px;
    }
  }
  .fee {
    margin-top: 60px;
    .section {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 18px;
    }
    .rental {

    }
    .pickup {

    }
    .return {

    }
    .total {

    }
    .deposit {
      color: #B7B9BA;
    }
  }
  .submit {
    padding-top: 40px;
    .button {
      padding: 15px;
      text-align: center;
      background-color: #8C64A0;
      color: #FFFFFF;
      font-size: 18px;
    }
  }
  .info {
    text-align: center;
    padding-top: 15px;
    color: #7C8183;
  }
}
// <div className={className('product-request')}>
//   <h1 className={'title'}>{'Request an item'}</h1>
//   <div className={'price'}>
//     <span className={'dollar'}>{'HK$ 100'}</span>
//     <span className={'time'}>{'/ day'}</span>
//   </div>
//   <Divider verticalMargin={14} />
//   <section className={'form'}>
//     <h2 className={'rental'}>
//       Rental
//     </h2>
//     <h2 className={'rental'}>
//       Pick up
//     </h2>
//     <h2 className={'rental'}>
//       Return
//     </h2>
//   </section>
//   <section className={'fee'}>
//     <div className={'section rental'}>
//       <span className={'desc'}>HK$ x 4 days</span>
//       <span className={'price'}>HK$ 400</span>
//     </div>
//     <Divider verticalMargin={14} />
//     <div className={'section pickup'}>
//       <span className={'desc'}>Pick up fee</span>
//       <span className={'price'}></span>
//     </div>
//     <div className={'section return'}>
//       <span className={'desc'}>Return fee</span>
//       <span className={'price'}></span>
//     </div>
//     <Divider verticalMargin={14} />
//     <div className={'section total'}>
//       <span className={'desc'}>Total</span>
//       <span className={'price'}></span>
//     </div>
//     <div className={'section deposit'}>
//       <span className={'desc'}>Deposit</span>
//       <span className={'price'}></span>
//     </div>
//   </section>
//   <div
//     className={'button submit'}
//     onClick={action.openRequest}
//   >
//     <Touchable />
//     {'Request'}
//   </div>
//
//   <div>
//     <span className={'info'}>
//       Total Payment won’t be charged yet. Deposit won’t be charged unless there is damage.
//     </span>
//   </div>
// </div>
