@import '../../variables';

body.ReactModal__Body--open {
  overflow-y: hidden;
}
.search-overlay {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #FFFFFF;

  .search {
    .title {
      font-size: 18px;
      color: #51585A;
      font-weight: $font-medium;
    }

    .input-container {
      padding-top: 20px;
    }

    section {
      cursor: pointer;
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      &.input {
        background-color: #F1F1F1;
        padding: 20px 15px;
      }

      &.keyword {

      }
      &.date {

      }
      &.location {

      }
      &.price {

      }
    }

    .submit {
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      background-color: #8C64A0;
      padding: 15px;
    }
  }
}
