.button {
  border: 0;
  opacity: 1;
  outline: none;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  padding: 9px 20px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  transition: all 0.3s;
  background-color: #A6A8AC;

  &:hover {
    opacity: 0.7;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &.disabled {
    opacity: 0.7;
    color: #ffffff;
    cursor: not-allowed;
    background-color: #9a9a9a;
  }
}
