@import '../../mixins';

footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #F1F1F1;

  [class*="footer__"] {
    width: 100%;
  }
  
  .footer__links {
    margin-bottom: 15px;

    > div {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex-basis: 50%;
        margin-bottom: 15px;
      }
    }
  }

  .footer__social > div {
    display: inline-block;
    width: 50%;

    > * {
      margin-right: 15px;
    }
  }
}
