doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Universal React with Redux Babel
    if env.env == "development"
      link(rel="stylesheet" type="text/css" href="http://localhost:8081/bundle.css")
    else
      link(rel="stylesheet" type="text/css" href="bundle.css")

  body
    div(id="app") Loading ...

    if env.env == "development"
      script(src="http://localhost:8081/bundle.js")
    else
      script(src="bundle.js")
