.product-list {
  .item-container {
    padding-bottom: 30px;
    &:last-child {
      padding-bottom: 0px;
    }
  }
}
.product-list-item {
  position: relative;
  display: block;

  .image {
    padding-bottom: 81.5%;
    background-color: grey;
  }
  .desc {
    min-height: 65px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .profile {

  }
  .desc-text {

  }

}
